<a href="https://colab.research.google.com/github/IPHEOLUWA/myproject/blob/main/TWO_SAMPLE_ttests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/world_happiness.csv')
clean = df.dropna()

In [ ]:
clean.head(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.500,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.800,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.100,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.063,0.823,0.547,0.273
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.106,0.871,0.492,0.375
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.082,0.881,0.491,0.339
8,Afghanistan,2016,4.220,7.650,0.559,52.925,0.523,0.044,0.793,0.501,0.348
9,Afghanistan,2017,2.662,7.648,0.491,53.250,0.427,-0.119,0.954,0.435,0.371

In [ ]:
ssp = clean['Social support'].head(10)
hle = clean['Healthy life expectancy at birth'].head(10)
hle
ssp

0    0.451
1    0.552
2    0.539
3    0.521
4    0.521
5    0.484
6    0.526
7    0.529
8    0.559
9    0.491
Name: Social support, dtype: float64

In [ ]:
hle

0    50.500
1    50.800
2    51.100
3    51.400
4    51.700
5    52.000
6    52.300
7    52.600
8    52.925
9    53.250
Name: Healthy life expectancy at birth, dtype: float64

In [ ]:
nssp = np.array(ssp)
nhle = np.array(hle)

t_test,p_value = stats.ttest_ind(nssp,nhle,equal_var=True)

print(t_test)
print(p_value)

-176.3848889107643
1.3405255772187815e-30

In [ ]:
t_test2,p_value2 = stats.ttest_ind(nssp,nhle)
print(t_test2)
print(p_value2)

-176.3848889107643
1.3405255772187815e-30

In [ ]:
df = 18
alpha = 0.05
t_critical = stats.t.ppf(1-alpha/2,df)
print(t_critical)

2.10092204024096